body {
  font-family: "Open Sans Condensed";
  /* padding: 20px 30px; */
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.container {
  padding: 5px 40px;
}
* {
  box-sizing: border-box;
}
