.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  .header-country {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    opacity: 0.5;
  }
  .header-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  .header-searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  .header-nav {
    display: flex;
    justify-content: space-evenly;
    .header-option {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      color: white;
      .header-optionOne {
        font-size: 10px;
      }
      .header-optionTwo {
        font-size: 13;
        font-weight: 800;
      }
    }
    .header-optionBasket {
      display: flex;
      align-items: center;
      color: white;
      .header-optionLineTwo {
        font-size: 13;
        font-weight: 800;
      }
      .basket-count {
        margin: 0 10px;
      }
    }
  }

  .header-logo {
    width: 100px;
    margin: 0 20px;
    margin-top: 18px;
    object-fit: contain;
  }
  .header-searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }
}
