.sign-in-and-sign-up {
    width: 900px;
  display: flex;
  padding: 20px 20px;
  justify-content: space-around;
  margin: 30px auto;
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 4px 10px 0 rgba(82, 82, 82, 0.2),
    0 6px 20px 0 rgba(131, 130, 130, 0.19);
}
