.sign-up {
  width: 380px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border-left: 1px solid #e2e2e2;

  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
