.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 500px;
  background-color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 999999;
  .log-header {
    img {
      width: 90px;
      height: 90px;
      margin-top: -30px;
    }
  }

  .logo-container {
    height: 100%;
    width: 75px;
    padding: 25px;
  }

  .options {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .input {
      display: flex;
      justify-content: center;
      .button {
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid lightgrey;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .option {
      padding: 10px 15px;
      cursor: pointer;
      color: black;
    }
  }
}
