.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93vh;

  .form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .logo {
      width: 80px;
      height: 80px;
      border-radius: 50px;
    }
    .title {
      font-size: 25px;
      font-weight: 500;
    }
  }
  .form-fields {
    min-width: 28%;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f7f7f7;
    padding: 20px 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(168, 168, 168, 0.2),
      0 6px 20px 0 rgba(168, 167, 167, 0.19);
    .login-title {
      align-self: center;
      color: #727272;
      margin-bottom: 20px;
    }
  }
  .button {
    background-color: #007bff;
    color: white;
    margin-bottom: 10px;
  }
  .forgot-password {
    padding-top: 5px;
    border-top: 1px solid #cac9c9;
  }
}
