.collection-preview {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding: 10px 0;
  border: 1px solid #f7f7f7;
  background-color: white;

  .title {
    font-size: 22px;
    margin-bottom: 10px;
    display: flex;
  }

  .preview {
    display: flex;
    justify-content: center;
    // justify-content: space-between;
  }
}
