.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #e2e2e2;

  .buttons-for-log {
    display: flex;
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
