.checkout-page {
  width: 70%;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 50px auto 0;
  .contents {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;

      .header-block {
        text-transform: capitalize;
        width: 23%;

        &:last-child {
          width: 8%;
        }
      }
    }
  }

  .total {
    width: 30%;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    bottom: none;
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-weight: 700;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    .description {
      display: flex;
      margin-bottom: 10px;
      align-items: flex-end;
      justify-content: space-between;
      span {
        font-weight: 500;
        font-size: 15px;
        border-bottom: 1px solid;
      }
    }

    .button {
      height: 30px;
      margin-top: 10px;
      margin-left: 27%;
      width: 120px;
      color: white;
      font-size: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: solid #0077bb;
      background-color: #0077bb;
    }
  }
}
